body{
    background-color: rgb(227, 255, 255);
}
#inicio{
    color:green;
}
#cimg{
    
    text-align:center;
    height: 250px;
    width:100%;
}
#img1{ 
    height:250px;
    width:250px;
}
